.RGBWEB{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.img-responsive{
	display: block;
	max-width: 100%;
}

/*.container{
    padding: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;   
}*/
.img-selector{
    display:  flex;
    flex-direction: row;
}
.img-select-json-flex{
    display:  flex;
    flex-direction: column;
    /*column-gap: 40px;*/
    padding:10px;
    width: 450px;  
}
.cuadroImg{    
    max-width: 200px;
    width: 100%;
    height: 270px;
}
#jsonPrint{
    padding: 10px;
    margin-top: 40px;
    font-family: 'Cascadia Code', sans-serif;
}
.graficas-flex{
    
    display: flex;
    flex-direction: column;
}



