.RGBWEB{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.img-responsive{
	display: block;
	max-width: 100%;
}

.container{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    width: 945px;
    height: 915px;
}
.img-selector{
    display:  flex;
    flex-direction: row;
}
.img-select-json-flex{
    display:  flex;
    flex-direction: column;
    column-gap: 40px;
    padding: 20px;
}
.cuadroImg{    
    max-width: 200px;
    width: 100%;
}
#jsonPrint{
    padding: 10px;
}
.graficas-flex{
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}



