.RGBWEB{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
canvas{
    display: block;
    width: 100%;
    max-width: 350px;
    height: 350px;
}
.img-responsive{
	display: block;
	max-width: 100%;
}

.img-selector{
    display:  flex;
    flex-direction: row;
}
.img-select-json-flex{
    display:  flex;
    flex-direction: column;
    padding:30px;
    width: 500px;  
}
.cuadroImg{    
    max-width: 250px;
    
    
}
#jsonPrint{
    padding: 10px;
    margin-top: 10px;
    font-family: 'Cascadia Code', sans-serif;
}

